header {
    margin: auto;
    max-width: 500px;
    text-align: center;
}

img {
    max-width: 40%;
}

.song-name{
    color:red;
}

.footer {
    color: gray;
}

header,
main,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    align-items: center;
}

.lock-icon {
    display: block;
}

.login-header,
.lock-icon,
.form-item {
    text-align: center;
}

.form-item {
    margin: 4px 0;
    width: 100%;
}