<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">

<head>
    <h1>Karaoke Maker </h1>

</head>

<body>


    <main layout:fragment="content">
        <a th:if="${#authentication.isAuthenticated()}"
           th:text="|Wyloguj się ${#authentication.name}|"
           th:href="@{/logout}">Wyloguj się John</a>
        <img src="/images/karaoke_logo.png" alt="kod">
        <h2>Dodaj utwor</h2>
            <form method="post" action="/songs/save">
                 <label>
                 Treść:
                 <textarea name="name" placeholder="Tytuł utworu..." rows="1" cols="30"></textarea>
                </label>
                 <button type="submit">Zapisz</button>
            </form>
        <p><a href="/songs">Lista utworów</a></p>
    </main>


</body>
</html>