<!DOCTYPE html>
<html lang="pl"  xmlns:th="http://www.thymeleaf.org"
`      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">`

<head>
    <h1>Compose Song </h1>

</head>


<body>


<main layout:fragment="content">


    <input type="text" id="songnameid" name="songnameid" value="" placeholder="Song name">
    <input type="text" id="member" name="member" value="" placeholder="Number of chords">
    <button type="button" id="filldetails"  th:onclick="addFields()">Generate</button>



    <form id="form" method="post" action="/song/compose/generate" name="form">
    </form>

    <button type="button" id="senddetails"  th:onclick="sendForm()" hidden>Send Form</button>




    <script type="text/javascript" th:src="@{/js/addform.js}"></script>
    <script type="text/javascript" th:src="@{/js/sendform.js}"></script>


</main>
</body>


</html>