<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
</head>
<body>
<header>
    <h1>Karaoke Maker </h1>
</header>

<main  layout:fragment="content">
<h2>Lista utworow</h2>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Nazwa</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song, status: ${songs}">
        <td th:text="${status.count}">1</td>
        <td th:text="${song.name}" class="song-name">Przykładowe zdjęcie 3</td>
    </tr>
    </tbody>
</table>

    <h2>Dodaj utwor</h2>
    <form method="post" action="/song/library/add">
        <label>
            Treść:
            <textarea name="name" placeholder="Tytuł utworu..." rows="1" cols="30"></textarea>
        </label>
        <button type="submit">Zapisz</button>
    </form>


<p><a href="/">Strona główna</a></p>
</main>

</body>
</html>